*{
    box-sizing: border-box;
}
.container{
    margin: 20px auto;
    width: 100%;    
}
.draw-section{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}   
.game-info{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.game-info .game-name{
    font-size: 100px;
    text-decoration: underline;
}
.game-info .category{
    text-align: right;
    font-size: 50px;
}
.game-info .category span{
    text-transform: capitalize;
    color: red;
    font-weight: bolder;
}
.man-draw{
    background-color: whitesmoke;
    padding: 20px;
    height: 324px;
    width: 20%;
}
.man-draw.wrong-1 .stand{
    background-image: url(assets/stand.svg);
}
.man-draw.wrong-2 .hang{
    background-image: url(assets/stand.svg);
}
.man-draw.wrong-3 .rope{
    background-image: url(assets/rope.svg);
}
.man-draw.wrong-4 .head{
    background-image: url(assets/head.svg);
}
.man-draw.wrong-5 .body{
    background-image: url(assets/body.svg);
}
.man-draw.wrong-6 .left{
    background-color: black;
}
.man-draw.wrong-7 .right{
    background-color: black;
}
.man-draw.wrong-8 .left-l{
    background-color: black;
}
.man-draw.wrong-9 .right-l{
    background-color: black;
}
.man-draw .the-draw{
    width: 60px;
    height: 280px;
    position: absolute;
    margin: auto;
}
.man-draw .stand{
    position: absolute;
    width: 10px;
    height: 100%;
    left: 50%;
    margin-left: -2px;
} 
.man-draw .hang{
    position: absolute;
    height: 15px;
    left: 33px;
    top: 11px;
    width: 150px;  
    transform: rotate(30de);
} 
.man-draw .rope{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 18px;
    height: 50px;
    height: 37px;
    left: 130px;
    top: 17px;
}
.man-draw .man .head{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 106px;
    top: 40px;
}
.man-draw .man .body{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 21px;
    height: 94px;
    top: 101px;
    left: 132px;
}
.left{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 70px;
    position: absolute;
    height: 10px;
    top: 138px;
    left: 86px;
    transform: rotate(297deg);
}
.left-l{
    background-position: center;
    background-size: cover;
    width: 70px;
    position: absolute;
    height: 10px;
    top: 205px;
    left: 86px;
    transform: rotate(297deg);
}
.right{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 70px;
    position: absolute;
    height: 10px;
    top: 132px;
    left: 129px;
    transform: rotate(68deg);
}   
.right-l{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 70px;
    position: absolute;
    height: 10px;
    top: 214px;
    left: 125px;
    transform: rotate(68deg);
}   

.letters-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letters{
    padding: 15px;
    text-align: center;
}
.letters .letter-btn{
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: blue;
    color: white;
    margin-right: 10px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 12px;
    border-radius: 10%;
    
}
.guess-section{
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.guesses{
    margin: 10px auto;
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.guesses span{
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin-right: 10px;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    font-weight: bold;
    border-bottom: 4px solid black;
}
.clicked{
    opacity: .2;
    pointer-events: none;
}
.game-over{
    pointer-events: none;
}

